body {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background-color: var(--bg-primary-color);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--black-transparent-color);
  border-radius: 3px;
}

input,
button,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
}

input::-ms-clear {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary-color);
}

.container {
  box-sizing: border-box;
  max-width: var(--max-width-container);
  margin: 0 auto;
  width: 100%;
  padding: 20px var(--default-padding);
}

.main-content {
  flex: 1 1 auto;
}
.main-content__card {
  display: flex;
  justify-content: center;
}
.spacer {
  flex: 1 1 auto;
}

.correct-answer {
  color: var(--bright-green-color);
}

.incorrect-answer {
  color: var(--red-color);
}

.title--h2 {
  text-align: center;
  text-transform: uppercase;
}

.text-bold_medium {
  font-weight: 500;
}

.text-bold_bold {
  font-weight: 700;
}

.text_xs {
  font-size: 20px;
}

.text_m {
  font-size: 24px;
}

.text_l {
  font-size: 28px;
}

.clickable {
  cursor: pointer;
}

.button {
  box-sizing: border-box;
  border-radius: var(--primary-border-radius);
  text-transform: uppercase;
  text-align: center;
  padding: 12px;
  transition: background-color 0.5s ease 0s;
}
.button--link {
  width: 140px;
  color: var(--white-color);
  background-color: var(--bg-green-dark-color);
}
@media (any-hover: hover) {
  .button--link:hover {
    background-color: var(--bright-green-color);
  }
}
.button--card {
  background-color: transparent;
  border: 2px solid var(--primary-dark-color);
}
@media (any-hover: hover) {
  .button--card:hover {
    background-color: var(--black-transparent-color);
  }
}

.header {
  background-color: var(--bg-green-light-color);
}
.header--active .header__buttons {
  left: 0;
}
.header--active .header__buttons:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--bg-green-light-color);
  z-index: 3;
}
.header__container {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .header__container {
    min-height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    min-height: 80px;
  }
}
.header__logo {
  z-index: 5;
}
.header__buttons {
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .header__buttons {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    z-index: 2;
    background-color: var(--bg-primary-color);
    transition: left 0.3s ease 0s;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 72px 16px;
    box-sizing: border-box;
  }
}
.header__avatar {
  z-index: 5;
}
.header__burger {
  z-index: 5;
}

.logo__text {
  color: var(--primary-light-color);
  font-size: 18px;
}

.avatar {
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid var(--bg-green-dark-color);
  box-sizing: border-box;
}
.avatar__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.burger-menu {
  position: relative;
  width: 30px;
  height: 18px;
}
.burger-menu__line {
  transition: top 0.3s ease 0s, bottom 0.3s ease 0s, transform 0.3s ease 0s;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: calc(50% - 1px);
  background-color: var(--primary-light-color);
}
.burger-menu__line:first-child {
  top: 0;
}
.burger-menu__line:last-child {
  top: auto;
  bottom: 0;
}
.burger-menu--active .burger-menu__line {
  transform: scale(0);
}
.burger-menu--active .burger-menu__line:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.burger-menu--active .burger-menu__line:last-child {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}
@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.card {
  width: 100%;
  max-width: 700px;
  min-height: 500px;
  position: relative;
}
.card--flip .card__front {
  transform: perspective(600px) rotateY(-180deg);
}
.card--flip .card__back {
  transform: perspective(600px) rotateY(0deg);
}
.card--correct .card__front,
.card--correct .card__back {
  background-color: var(--bg-green-ultra-light-color);
}
.card--correct .incorrect-answer {
  display: none;
}
.card--incorrect .card__front,
.card--incorrect .card__back {
  background-color: var(--red-light-color);
}
.card--incorrect .correct-answer {
  display: none;
}
.card__front, .card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--standard-gap);
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--white-color);
  border-radius: var(--primary-border-radius);
  box-shadow: 4px 4px 8px 0px var(--black-transparent-color);
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 0.5s;
}
.card__front {
  transform: perspective(600px) rotateY(0deg);
}
.card__back {
  transform: perspective(600px) rotateY(180deg);
}
.card__form-quiz {
  flex: 1 1 auto;
}
.card__content {
  flex: 1 1 auto;
  display: grid;
  gap: var(--standard-gap);
}
.card__form {
  display: grid;
  gap: var(--standard-gap);
  grid-template-rows: 1fr 1fr;
}
.card__correct-answers {
  display: grid;
  gap: var(--standard-gap);
}
.card__counter {
  text-align: center;
}
.card__word {
  text-align: center;
}
.card__example {
  text-align: center;
}
.card__input {
  padding: 5px 10px;
  box-sizing: border-box;
  border: 1px solid var(--primary-dark-color);
  border-radius: var(--primary-border-radius);
  text-align: center;
}
.card__input:focus {
  outline: none;
  border: 2px solid var(--primary-dark-color);
}
.card__check {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.form-quiz {
  display: flex;
  flex-direction: column;
  gap: var(--standard-gap);
}
.form-quiz__word {
  text-align: center;
}
.form-quiz__answers {
  flex: 1 1 auto;
  display: grid;
  gap: var(--standard-gap);
}
.form-quiz__answer {
  position: relative;
  display: flex;
  align-items: center;
}
.form-quiz__checkbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.form-quiz__checkbox:checked + .form-quiz__text:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background-color: var(--bg-green-light-color);
}
.form-quiz__text {
  display: flex;
  align-items: center;
  gap: var(--standard-gap);
  position: relative;
}
.form-quiz__text::before {
  content: "";
  flex: 0 0 16px;
  left: 0;
  top: 0;
  height: 16px;
  border: 2px solid var(--primary-dark-color);
  background-color: transparent;
}

.result {
  display: grid;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .result {
    grid-template-areas: "title title" "correct correct" "incorrect incorrect" "repeatQuiz finish";
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  .result__title {
    grid-area: title;
  }
}
.result__check {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .result__check.correct-answer {
    grid-area: correct;
  }
  .result__check.incorrect-answer {
    grid-area: incorrect;
  }
}
@media screen and (min-width: 768px) {
  .result__repeat {
    grid-area: repeatQuiz;
  }
}
@media screen and (min-width: 768px) {
  .result__finish {
    grid-area: finish;
  }
}

.crossword {
  display: grid;
  gap: 24px;
  justify-items: center;
}
@media screen and (min-width: 768px) {
  .crossword {
    grid-template-areas: "title title" "crossword definitions";
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  .crossword__title {
    grid-area: title;
  }
}
.crossword__main {
  display: grid;
  gap: 2px;
}
@media screen and (max-width: 768px) {
  .crossword__main {
    grid-template-columns: repeat(10, 26px);
    grid-template-rows: repeat(10, 26px);
  }
}
@media screen and (min-width: 768px) {
  .crossword__main {
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    grid-area: crossword;
  }
}
@media screen and (min-width: 993px) {
  .crossword__main {
    grid-template-columns: repeat(10, 45px);
    grid-template-rows: repeat(10, 45px);
  }
}
.crossword__ceil {
  position: relative;
}
.crossword__input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: var(--black-transparent-color);
  text-align: center;
  text-transform: uppercase;
}
.crossword__input:focus {
  border: 2px solid var(--primary-dark-color);
  outline: none;
}
@media screen and (min-width: 768px) {
  .crossword__input {
    font-size: 20px;
  }
}
.crossword__number {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  .crossword__number {
    top: 4px;
    left: 4px;
    font-size: 12px;
  }
}
.crossword__definitions {
  width: 100%;
  max-width: 500px;
  display: grid;
  gap: var(--standard-gap);
}
@media screen and (min-width: 768px) {
  .crossword__definitions {
    grid-area: definitions;
  }
}
.crossword__definition {
  display: flex;
  align-items: center;
  background-color: var(--black-transparent-color);
  padding: 10px;
  border-radius: var(--primary-border-radius);
}
@media screen and (min-width: 768px) {
  .crossword__definition {
    font-size: 20px;
  }
}

.show-square {
  border: 1px solid var(--primary-dark-color);
  background-color: var(--white-color);
}

.definition-done {
  text-decoration: line-through;
  background-color: var(--bright-green-color);
  color: var(--white-color);
}

.letter-correct .show-square {
  background-color: var(--bg-green-ultra-light-color);
}

.letter-incorrect .show-square {
  background-color: var(--red-light-color);
}

.footer {
  background-color: var(--bg-green-light-color);
  color: var(--primary-light-color);
  padding: 20px 0;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 10px 0;
  }
}
.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --primary-dark-color: #2c3531;
  --primary-light-color: #f3f3f3;
  --bg-primary-color: #e5e5e5;
  --bg-green-light-color: #88df86;
  --bg-green-ultra-light-color: #caf9c9;
  --bg-green-dark-color: #479c45;
  --bright-green-color: #33c430;
  --white-color: #fff;
  --black-transparent-color: rgba(34, 60, 80, 0.2);
  --red-color: #ac1c1c;
  --red-light-color: rgba(227, 46, 26, 0.356);
  --font-family: Montserrat;
  --font-size: 16px;
  --max-width-container: 1140px;
  --default-padding: 16px;
  --primary-border-radius: 8px;
  --standard-gap: 16px;
}

/*# sourceMappingURL=style.css.map */
