@import "mixins";
@import "layout";
@import "buttons";
@import "logo";
@import "avatar";
@import "burger-menu";
@import "card";
@import "form-quiz";
@import "result";
@import "crossword";

:root {
  // Цвета
  --primary-dark-color: #2c3531;
  --primary-light-color: #f3f3f3;
  --bg-primary-color: #e5e5e5;
  --bg-green-light-color: #88df86;
  --bg-green-ultra-light-color: #caf9c9;
  --bg-green-dark-color: #479c45;
  --bright-green-color: #33c430;
  --white-color: #fff;
  --black-transparent-color: rgba(34, 60, 80, 0.2);
  --red-color: #ac1c1c;
  --red-light-color: rgba(227, 46, 26, 0.356);

  // Шрифты
  --font-family: Montserrat;
  --font-size: 16px;
  
  // Размеры
  --max-width-container: 1140px;
  --default-padding: 16px;
  --primary-border-radius: 8px;
  --standard-gap: 16px;
}
