.form-quiz {
  display: flex;
  flex-direction: column;
  gap: var(--standard-gap);

  &__word {
    text-align: center;
  }

  &__answers {
    flex: 1 1 auto;
    display: grid;
    gap: var(--standard-gap);
  }

  &__answer {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__checkbox {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;

    &:checked + .form-quiz__text:after {
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      width: 12px;
      height: 12px;
      background-color: var(--bg-green-light-color);
    }
  }

  &__text {
    display: flex;
    align-items: center;
    gap: var(--standard-gap);
    position: relative;

    &::before {
      content: "";
      flex: 0 0 16px;
      left: 0;
      top: 0;
      height: 16px;
      border: 2px solid var(--primary-dark-color);
      background-color: transparent;
    }
  }
}
