.header {
  background-color: var(--bg-green-light-color);

  &--active {
    .header__buttons {
      left: 0%; // Если значение какого-либо свойства = 0, то можно не указывать единицы измерения

      &:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: var(--bg-green-light-color);
        z-index: 3;
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 16px;

    @include mobile {
      min-height: 60px;
    }

    @include tablet {
      min-height: 80px;
    }
  }

  &__logo {
    // Хотела уточнить, если только одно свойство (z-index)
    // в нескольких блоках повторяется лучше выносить в отдельный класс или и так можно оставить?
    //-------------------------------
    // Вопрос хороший и правильный. Тут зависит от свойства, количества повторений.
    // Конкретно с z-index - нет, теряется контекст. Но всё же, в качестве примера, если у тебя по проекту встречается z-index:1234 два или три раза и вряд ли будет больше (если будет, то редко) то нет смысла, ибо значение весьма специфичное
    // Я писал по поводу font-size и font-weight, это хороший кандидат на вынос, ибо шанс, что тебе понадобится текс с определенным размером в разы выше чем у того же z-index: 1234
    // В общем, если ты уверенна, что какое-то свойство или набор свойств будут частенько повторяться, то да, стоит вынести
    // Чем меньше копипасты и больше переиспользований классов, тем лучше, но упарываться тут не стоит, ибо практика подсказывает, что
    // ты забудешь о существовании какого-то класса и просто напишешь нужное свойство.
    //-------------------------------
    z-index: 5;
  }

  &__buttons {
    display: flex;
    gap: 16px;

    @include mobile {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: -100%;
      overflow: auto;
      z-index: 2;
      background-color: var(--bg-primary-color);
      transition: left 0.3s ease 0s;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 72px 16px;
      box-sizing: border-box;
    }
  }

  &__avatar {
    z-index: 5;
  }

  &__burger {
    z-index: 5;
  }
}
