.result {
  display: grid;
  gap: 24px;

  @include tablet {
    grid-template-areas: "title title" "correct correct" "incorrect incorrect" "repeatQuiz finish";
    grid-template-columns: 1fr 1fr;
  }

  &__title {
    @include tablet {
      grid-area: title;
    }
  }

  &__check {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;

    @include tablet {
      &.correct-answer {
        grid-area: correct;
      }
      &.incorrect-answer {
        grid-area: incorrect;
      }
    }
  }

  &__repeat {
    @include tablet {
      grid-area: repeatQuiz;
    }
  }

  &__finish {
    @include tablet {
      grid-area: finish;
    }
  }
}
